@page "/inbox"

<TitleControl Title="Mailbox" />

<div class="row no-gutters mt-3">
    <div class="col-sm-6 col-md-5 col-lg-4">
        <div class="list-group">
            <Virtualize Items="this.MailboxSessionService.Mails" Context="mail">
                <a href="javascript:void(0)"
                    @onclick="async () => await this.ShowMail(mail)"
                    class="list-group-item list-group-item-action flex-column align-items-start @(this.CurrentMail == mail ? "active" : "")">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-break">
                            @mail.FromAddress
                        </h5>
                        <small>@mail.ReceivedDate.ToShortTimeString()</small>
                    </div>
                    <strong class="text-break">
                        @if (mail.IsRead == true)
                        {
                            <i class="far fa-envelope-open me-2"></i>
                        }
                        else
                        {
                            <i class="fas fa-envelope me-2"></i>
                        }

                        @this.Truncate(mail.Subject, 50)
                    </strong>
                    <p class="my-1 text-break">
                        @this.Truncate(mail.BodyText, 200)
                    </p>
                </a>
            </Virtualize>
        </div>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8">
        @if (this.CurrentMail != null)
        {
            <Card>
                <Title>
                    <strong class="text-break pt-1">
                        @this.CurrentMail.Subject
                    </strong>

                    <button class="btn btn-sm btn-danger float-right" @onclick="this.DeleteCurrentMail">
                        <i class="fas fa-trash"></i>
                    </button>
                </Title>
                <Body>
                    @if (String.IsNullOrWhiteSpace(this.CurrentMail.BodyHtml) == false)
                    {
                        <iframe src="@this.WebServerConfiguration.MailContentBaseUrl/Api/HtmlContent/@(Uri.EscapeDataString(this.UserState.CurrentMailbox))/@(this.CurrentMail.Secret)?privateKey=@Uri.EscapeDataString(this.UserState.Secret.Value.PrivateKey)"
                                style="border: 0; min-height: calc(100vh - 350px); background-color: white;"
                                sandbox="allow-popups" class="w-100"></iframe>
                    }
                    else
                    {
<pre class="text-break" style="min-height: calc(100vh - 350px);">
@this.CurrentMail.BodyText
</pre>
                    }
                </Body>
            </Card>
        }
    </div>
</div>